
@define-color highlight #81a1c1;
@define-color base1  #2e3440;
@define-color base2 #2e3440;
@define-color base3  #2e3440;

*{
    font-family: UbuntuMono;
}

window {
    border: 1px solid @highlight;
}

#input {
    margin-bottom: 15px;
    padding:3px;
    border-radius: 5px;
    border:none;
    color: white;
}

#inner-box {
    background-color: @base3;
}

#outer-box {
    margin: 5px;
    padding:15px;
    background-color: @base2;
}

#text {
    padding: 5px;
    color: white;
}

#entry:nth-child(even) {
    background-color: @base1;
}

#entry:selected {
    background-color: @highlight;
}
