* {
	font-size: 13px;
	font-family: JetBrainsMono Nerd Font;
}

window#waybar {
	background: #282a36;
	color: #f8f8f2;
}

#custom-right-arrow-dark,
#custom-left-arrow-dark {
	color: #44475a;
}
#custom-right-arrow-light,
#custom-left-arrow-light {
	color: #282a36;
	background: #44475a;
}

tooltip {
  background: #282a36;
  border: 1px solid #bd93f9;
}

#workspaces,
#clock.1,
#clock.2,
#clock.3,
#pulseaudio,
#memory,
#cpu,
#battery,
#disk,
#idle_inhibitor,
#custom-pacman,
#custom-weather,
#temperature,
#bluetooth,
#network,
#custom-power,
#tray {
	background: #44475a
}

#workspaces button {
	padding: 0 2px;
	color: #f8f8f2;
}
#workspaces button.focused {
	color: #8be9fd;
}
#workspaces button:hover {
	box-shadow: inherit;
	text-shadow: inherit;
}
#workspaces button:hover {
	background: #282a36;
	border: #282a36;
	padding: 0 3px;
}
#pulseaudio {
	color: #8be9fd;
}
#bluetooth {
	color: #8be9fd;
  padding: 0 0.6em;
}
#memory {
	color: #50fa7b;
}
#cpu {
	color: #bd93f9;
}
#battery {
	color: #859900;
}
#disk {
	color: #b58900;
}
#custom-pacman {
    font-weight: bold;
    padding: 0 0.6em
}
#custom-power {
    padding: 0 0.7em
}
#temperature {
    background-color:#44475a;
    color: #bd93f9
}
#temperature.critical {
    background: #ff5555;
}
#tray {
  padding: 0 0.6em;
}
#network {
  padding: 0 0.6em;
}

#clock,
#pulseaudio,
#memory,
#cpu,
#battery,
#disk {
	padding: 0 10px;
}
