* {
	font-size: 13px;
	font-family: JetBrainsMono Nerd Font;
}

window#waybar {
	background: #2e3440;
	color: #d8dee9;
}

tooltip {
  background: #2e3440;
  border: 1px solid #5e81ac;
}

#workspaces,
#clock.1,
#clock.2,
#clock.3,
#pulseaudio,
#memory,
#cpu,
#battery,
#disk,
#idle_inhibitor,
#custom-pacman,
#custom-weather,
#temperature,
#bluetooth,
#network,
#custom-power,
#tray {
	background: #2e3440
}

#workspaces button {
	padding: 0 2px;
	color: #d8dee9;
}
#workspaces button.focused {
	color: #5e81ac;
}
#workspaces button:hover {
	box-shadow: inherit;
	text-shadow: inherit;
}
#workspaces button:hover {
	background: #4c566a;
	border: #4c566a;
	padding: 0 3px;
}
#pulseaudio {
	color: #8be9fd;
}
#bluetooth {
	color: #b48ead;
  padding: 0 0.6em;
}
#memory {
	color: #a3be8c;
}
#cpu {
	color: #a3be8c;
}
#battery {
	color: #a3be8c;
}
#disk {
	color: #a3be8c;
}
#custom-pacman {
    font-weight: bold;
    padding: 0 0.6em
}
#custom-power {
  color: #bf616a;
    padding: 0 0.7em
}
#temperature {
    background-color:#2e3440;
    color: #a3be8c
}
#temperature.critical {
    background: #bf616a;
}
#tray {
  padding: 0 0.6em;
}
#network {
  color: #b48ead;
  padding: 0 0.6em
}

#clock,
#pulseaudio,
#memory,
#cpu,
#battery,
#disk {
	padding: 0 0.6em;
}
